.sub-header {
    margin: 20px;
}
.array-bar {
    margin : 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.array-container {
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: double;
    margin: 2px;
    text-align: center;
}
.array-bar button {
    width: auto;
    height: 50px;
}
#stepper {
    
}
#ref {
    background-color: red;
    transform: scale(1.2);
}

#current {
    background-color: green;
}
