.maze {
    border: 5px;
    border-color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    display: table;

}

.row {
    display: flex;
    justify-content: center;
    align-self: center;
    display: table-row;

}

.items {
    border: 3px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.unvisited {
    background-color: black;
    border-color: black;
}

.visited {
    background-color: white;
    border-color: white;
}

.fully_explored {
    background-color: red;
    border-color: red;
}

.left-wall {
    border-left-color: black;
}

.right-wall {
    border-right-color: black;
}

.top-wall {
    border-top-color: black;
}

.bottom-wall {
    border-bottom-color: black;
}