
.buttons {
  align-self: center;
  justify-content: center;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 40px;
  min-width: 50px;
}
.buttons button {
  margin-right: 5px;
}

