
.array-container {   
  height: 70px;
  width: 70px;
  border: 3px double black;
  text-align: center;
  
}

.vertical{
  position: relative;
}

.tree {
  width: 600px;
  margin: auto;
}

#clear {
  clear: both;
}

#left{
  width: 300px;
  margin-top: 50px;
  position: relative;
  float: left;  
}

#right{
  width: 300px;
  margin-top: 50px;
  position: relative;
  float: right
}

#centre{
  width: 600px;
  margin-top: 50px;
  position: relative;
  float: none;
}



#left_idx {
  background-color: greenyellow;
}

#right_idx {
  background-color: orange;
}

.array-bar {
  align-self: center;
  justify-content: center;
  display: flex;
}

.buttons {
  align-self: center;
  justify-content: center;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 40px;
  min-width: 50px;
}
.buttons button {
  margin-right: 5px;
}

